.App {
  text-align: center;
  /* color: red; */
}
/* .App {
  text-align: start;
  
} */
h3 {
  margin-left: 40px;
}
.uO {
  margin-left: 40px;
}

.Tasks {
  background-color: silver;
}

.AppLandC {
  text-align: center;
}

#TasksLandC {
  text-align: start;
}

.red {
  color: red;
}
.bold {
  font-weight: bold;
  font-size: 20px;
}

.buttonGreen {
  font: inherit;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: green;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.buttonGreen:hover {
  background-color: lightgreen;
  color: black;
}
.buttonRed {
  font: inherit;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.buttonRed:hover {
  background-color: salmon;
  color: black;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
